img {
  max-width: 150px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.textarea {
  display: flex;
  justify-content: space-around;
}

.select {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 0 15px;
  font-size: 16px;
}

.image-click {
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.image-click:hover {
  border: 1px solid #dddddd;
}
